.name{
    color:red;
    text-align: right;
    font-family: 'Shojumaru', cursive;
}
.VK{
    color: blue;
}
.mail{
    color: lime;
}
.ua{
    color: blue;
    float: left;
    font-family: 'Audiowide', cursive;
}
.ua span{
    color:yellow;
}
.name span{
    color:lime;
}
.picture{
    width: 42%;
    height: 42%;
    float: right;
    border: 2px solid black;
    margin-left: 25px;
}
.youtube{
    color: red;
}
.fraza1{
    margin-left: 158px; 
}
.zombi{
    color: red;
}
.zombi span{
    color: green;
}
.orange{
    color:#FF4500;
}
.orange span{
    color: lime;
}
.link{
    color: red;
}
.link span{
    color: black;
}
.f18{
    color: DeepSkyBlue;
}
.html{
    text-align: right;
    font-family: 'Kaushan Script', cursive;
}
.html span{
    color: darkred;
}    
.picture3{
    width: 5.1%;
    float: right; 
}
.picture4{
    width: 8.2%;
    float: right;
}
.picture5{
    width: 5.1%;
    float: right;
}
.picture6{
    width: 6.7%;
    float: right;
}
.picture7{
    width: 10%;
    float: right;
}
.picture8{
    width: 4.2%;
    float: right;
}
.obo{
    font-family: 'Rock Salt', cursive;
}
body{
    font-family: 'Gloria Hallelujah', cursive;
}
.a1{
    color: red;
}
.a2{
    color: yellow;
}
.a3{
    color: limegreen;
}
.a4{
    color: orange;
}
.a5{
    color: blue;
}
.a6{
    color: yellow;
}
.a7{
    color: limegreen;
}
.a8{
    color: red;
}
.a9{
    color: orange;
}
.a10{
    color: blue;
}
.a11{
    color: white;
}
.infa span{
    font-size: 20px;
}