.name{
    color:red;
    text-align: right;
}
.VK{
    color: blue;
}
.mail{
    color: lime;
}
.ua{
    color: blue;
    float: left;
}
.ua span{
    color:yellow;
}
.name span{
    color:lime;
}
.picture{
    width: 42%;
    height: 42%;
    float: right;
    border: 2px solid black;
    margin-left: 10px
}
.youtube{
    color: red;
}
.fraza1{
    margin-left: 158px; 
}
.infa{
    margin-right: 20px;
}
.zombi{
    color: red;
}
.zombi span{
    color: green;
}
.orange{
    color:#FF4500;
}
.orange span{
    color: lime;
}
.nik{
color: blue;
margin-left: 925px;
margin-right: 1900px;
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
-o-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
}
.link{
    color: red;
}
.link span{
    color: black;
}